# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.python-version
venv/
.venv/
ENV/
env/
.env

# FastAPI / local artifacts
faiss_index/
pdfs/

# Node
node_modules/
/npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Next.js
.next/
out/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
